.product {
  /*border: 1px solid red;*/

  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(204, 204, 223, 0.71);
}

.product span {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 20px;
}

.product h4 {
  margin: 1rem;
  font-size: 2rem;
}

.product h4 sup {
  font-size: 1rem;
}

.product p {
  margin-top: 0;
}

.btn {
  margin: 5px;
  background-color: #fff;
  border: #007CBB 1px solid;
  color: #007CBB;
  text-transform: uppercase;
  padding: .5rem 2rem;
  border-radius: 5px;
}

