<p>
  product-edit works!
</p>

<form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!editMode">

  <input type="text"
         id="addImage"
         placeholder="add link to img"
         ngModel
         name="image">

  <input type="text"
         id="addTitle"
         placeholder="add title here"
         ngModel
         name="title">

  <textarea id="addDescription"
            placeholder="add description here"
            ngModel
            name="description"></textarea>

  <input type="text"
         id="addPrice"
         placeholder="add price here"
         ngModel
         name="price">

  <button type="submit">add</button>
  <button (click)="onGoBack()">back</button>
  editMode: {{editMode}}
</form>

<form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="editMode">
  <input type="text"
         id="editImage"
         placeholder="add link to img"
         [ngModel]="product.image"
         name="image">

  <input type="text"
         id="editTitle"
         placeholder="add title here"
         [ngModel]="product.title"
         name="title">

  <textarea id="editDescription"
            placeholder="add description here"
            [ngModel]="product.description"
            name="description"></textarea>

  <input type="text"
         id="editPrice"
         placeholder="add price here"
         [ngModel]="product.price"
         name="price">

  <button type="submit">edit</button>
  <button (click)="onGoBack()">back</button>
  <button (click)="onDelete()">delete</button>
  editMode: {{editMode}}

</form>
