body {
  background-color: #FAFBFC;
  font-family: 'Maven Pro', sans-serif;
}

.container {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  margin: 1em;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin: 1em;
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.content {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  margin: 10px;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px #ccc;
  background-color: white;
}

li:hover,
li:active {
  box-shadow: 0 4px 5px #ccc;
}

img {
  height: 50%;
  width: 50%;
}

.btn {
  margin: 5px;
  background-color: #fff;
  border: #007CBB 1px solid;
  color: #007CBB;
  text-transform: uppercase;
  padding: .5rem 2rem;
  border-radius: 5px;
  transition: 0.2s;
}

.btn:hover {
  background-color: #E1F1F6;
}
